.navbar {
  background-color: #fff;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 0 50px;
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    padding: 0 150px;
  }
}
@media screen and (min-width: 768px) {
  .navbar .navbar-brand {
    padding-right: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .navbar .navbar-brand {
    padding-right: 100px;
  }
}
.navbar .collapse {
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .navbar .collapse {
    padding: 20px 0;
  }
}
@media screen and (min-width: 1000px) {
  .navbar .collapse {
    padding: 20px 0;
  }
}
.navbar .collapse .navbar-nav {
  width: 100%;
}
.navbar .collapse .navbar-nav .btn.btn-primary {
  padding: 10px 28px !important;
  border-radius: 25px;
  margin: 0 5px;
  font-weight: 700;
}

.btn-icon {
  position: relative;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
  width: 43px;
  height: 43px;
}
.btn-icon i {
  position: absolute;
  font-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4e4e4e;
}

.searchbar {
  display: inline-block;
  border: 1px solid #eeeeee;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.searchbar input {
  border: none;
}
.searchbar input:focus {
  outline-offset: 0;
  outline: none !important;
}

.carousel {
  max-width: 100vw;
  max-height: 50vh;
  overflow-y: hidden;
}
@media screen and (min-width: 768px) {
  .carousel {
    max-height: calc(100vh - 86px);
  }
}
.carousel .carousel-inner {
  position: relative;
  max-height: 50vh;
}
@media screen and (min-width: 768px) {
  .carousel .carousel-inner {
    max-height: calc(100vh - 86px);
  }
}
.carousel img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .carousel img {
    height: calc(100vh - 86px);
  }
}

.card {
  border: none !important;
  margin: 2rem 0;
}
.card img {
  border-radius: 8px;
}

.announce {
  height: 200px;
  width: 100vw;
  background-color: #007bff;
}

.main-area {
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .main-area {
    padding: 4rem 3rem 0;
  }
}

.main-image {
  position: relative;
  margin-bottom: 2rem;
}
.main-image .content {
  text-align: center;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
@media screen and (min-width: 768px) {
  .main-image .content {
    transform: translateY(-50%);
    text-align: left;
    top: 50%;
    right: 10%;
  }
}
.main-image .content h4 {
  font-size: 2rem;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .main-image .content h4 {
    font-size: 3rem;
  }
}
.main-image .content .btn {
  text-transform: capitalize;
  border-radius: 30px;
  font-size: 16px;
  line-height: 1.1;
  padding: 13px 15px;
}
.main-image img {
  width: 100%;
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .products-area {
    padding-top: 6rem;
    width: 60%;
    margin: auto;
  }
}

.cookies-banner {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 72px;
  background-color: black;
}
.cookies-banner .cookies-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
}
.cookies-banner button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(-10%, -50%);
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

img {
  object-fit: cover;
}

.separator {
  height: 100px;
  width: 100vw;
  background-color: #007bff;
}

.form-loginout {
  width: 40%;
  margin: auto;
}

/*# sourceMappingURL=app.css.map */
