.news {
	display: flex;
	flex-direction: column;
	width: 100%;
	@media screen and (min-width: 576px) {
		flex-direction: row;
		padding: 0 0 4rem 0;
	}
	margin: auto;
	.news-lasted {
		position: relative;
		width: 100%;
		@media screen and (min-width: 576px) {
			width: 40%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 0.3s ease-in-out;
		}
		.btn {
			opacity: 0;
			transition: 0.3s;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			img {
				filter: brightness(40%);
			}
			.btn {
				opacity: 1;
				transition-delay: 0.15s;
			}
		}
	}
	.news-older {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		@media screen and (min-width: 576px) {
			width: 60%;
		}
		.item {
			position: relative;
			width: 50%;
			img {
				width: 100%;
				height: 100%;
				transition: 0.3s ease-in-out;
			}
			.btn {
				opacity: 0;
				transition: 0.3s;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover {
				img {
					filter: brightness(40%);
				}
				.btn {
					opacity: 1;
					transition-delay: 0.15s;
				}
			}
		}
	}
}
