.cookies-banner {
	position: fixed;
	z-index: 9999;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 72px;
	background-color: black;
	.cookies-container {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: white;
		letter-spacing: 1px;
		font-weight: 300;
	}
	button {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translate(-10%, -50%);
	}
}
