.cookies-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 25vh;
	background-color: transparentize($primary-color, 0.5);
	.close-button {
		position: absolute;
		right: 0;
		top: 0;
	}
}
