.main-area {
	padding: 0 1rem;
	@media screen and (min-width: 768px) {
		padding: 4rem 3rem 0;
	}
}
.main-image {
	position: relative;
	margin-bottom: 2rem;
	.content {
		text-align: center;
		position: absolute;
		bottom: 5%;
		right: 5%;
		@media screen and (min-width: 768px) {
			transform: translateY(-50%);
			text-align: left;
			top: 50%;
			right: 10%;
		}
		h4 {
			font-size: 2rem;
			font-weight: 300;
			@media screen and (min-width: 768px) {
				font-size: 3rem;
			}
		}
		.btn {
			text-transform: capitalize;
			border-radius: 30px;
			font-size: 16px;
			line-height: 1.1;
			padding: 13px 15px;
		}
	}
	img {
		width: 100%;
		border-radius: 6px;
	}
}
